<li>
  <div class="card">
    <img src={{picurl}} class="card-img-top" alt={{name}} />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <button class="btn wakeup-button change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
        {{#if sleep}}Sleep Time{{else}}WAKE UP!{{/if}}
      </button>
      <button class="btn delete-button delete-dog" data-id="{{this.id}}">
        Delete
      </button>
    </div>
  </div>
</li>
